name: Run tests, measure coverage and upload results to codecov

on:
  workflow_dispatch:
    inputs:
      pr_number:
        description: Enter PR number coming from community to run coverage on it. Do not run for PR coming from hazelcast organization, they will be run automatically.
        required: true
  push:
    branches:
      - master
      - '[45].*.z'
  pull_request_target:
    branches:
      - master
      - '[45].*.z'
      
jobs:
  check_for_membership:
    runs-on: ubuntu-latest
    name: Check membership of given user  
    outputs:
      check-result: ${{ steps.composite.outputs.check-result }}
    steps: 
      - name: Action for membership check
        id: composite
        uses: hazelcast/hazelcast-tpm/membership@main
        with:
          organization-name: 'hazelcast'
          member-name: ${{ github.actor }}
          token: ${{ secrets.PAT }}
          
  python-versions:
    uses: ./.github/workflows/get-python-versions.yml

  run-tests:
    runs-on: ${{ matrix.os }}
    needs: [check_for_membership, python-versions]
    if: github.event_name == 'push' || needs.check_for_membership.outputs.check-result == 'true' || github.event_name == 'workflow_dispatch'
    name: Run tests with Python ${{ matrix.python-version }} on ${{ matrix.os }}
    strategy:
      matrix:
        python-version:
          - ${{ needs.python-versions.outputs.earliest-python-version }}
          - ${{ needs.python-versions.outputs.latest-python-version }}
        os: [ ubuntu-latest, windows-latest ]
        hz_version: [ "5.6.0" ]
      fail-fast: false
      
    steps:
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          
      - name: Install JDK      
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Checkout code for PR
        if: github.event_name == 'pull_request_target'
        uses: actions/checkout@v4
        with:
          ref: refs/pull/${{ github.event.pull_request.number }}/merge
          
      - name: Checkout repository for push event
        if: github.event_name == 'push'
        uses: actions/checkout@v4
              
      - name: Checkout PR coming from community.
        if: github.event_name == 'workflow_dispatch'
        uses: actions/checkout@v4
        with:
          ref: refs/pull/${{ github.event.inputs.pr_number }}/merge
          
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: 'us-east-1'

      - name: Get Secrets
        uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          secret-ids: |
            HAZELCAST_ENTERPRISE_KEY,CN/HZ_LICENSE_KEY
            
      - name: Checkout to certificates
        uses: actions/checkout@v3
        with:
          repository: hazelcast/private-test-artifacts
          path: certs
          ref: data
          token: ${{ secrets.GH_TOKEN }}

      - name: Create the test jar with certificates (Linux)
        if: matrix.os == 'ubuntu-latest'
        working-directory: certs
        run: |
          echo "HERE: $(pwd)"
          ls
          echo "GITHUB_WORKSPACE"
          ls $GITHUB_WORKSPACE
          zip -r -j certs.jar $GITHUB_WORKSPACE/tests/integration/backward_compatible/ssl_tests/hostname_verification/*.p12
          cp certs.jar ../hazelcast-enterprise-${{ matrix.hz_version }}-tests.jar            

      - name: Create the test jar with certificates (Windows)
        if: matrix.os == 'windows-latest'
        working-directory: certs
        run: |
          echo "HERE: $(pwd)"
          ls
          echo "GITHUB_WORKSPACE"
          ls $GITHUB_WORKSPACE
          $compress = @{
            Path = "../tests/integration/backward_compatible/ssl_tests/hostname_verification/*.p12"
            CompressionLevel = "Fastest"
            DestinationPath = "certs.jar"
          }
          Compress-Archive -Update @compress
          cp certs.jar ./hazelcast-enterprise-${{ matrix.hz_version }}-tests.jar            

      - name: Download RCD (Linux)
        if: matrix.os == 'ubuntu-latest'
        shell: bash
        run: |
          echo "HERE: $PWD"          
          echo "ROOT_FOLDER: ${{ steps.get-root-folder.outputs.ROOT_FOLDER }}"
          wget -q https://client-rcd-download.s3.us-east-2.amazonaws.com/rcd-ubuntu-latest

      - name: Start Hazelcast Remote Controller (Linux)
        if: matrix.os == 'windows-latest'
        env:
          HZ_VERSION: ${{ matrix.hz_version }}
          HAZELCAST_ENTERPRISE_KEY: secrets[HAZELCAST_ENTERPRISE_KEY]
        shell: bash
        run: |
          echo "HERE: $(pwd)"
          ls
          chmod +x rcd-ubuntu-latest 
          ./rcd-ubuntu-latest -version $HZ_VERSION &
          sleep 10

      - name: Download RCD (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          echo "HERE: $PWD"          
          echo "ROOT_FOLDER: ${{ steps.get-root-folder.outputs.ROOT_FOLDER }}"
          $ProgressPreference = 'SilentlyContinue'
          Invoke-WebRequest https://client-rcd-download.s3.us-east-2.amazonaws.com/rcd-windows-latest.exe -OutFile rcd-windows-latest.exe

      - name: Start Hazelcast Remote Controller (Linux)
        if: matrix.os == 'ubuntu-latest'
        env:
          HZ_VERSION: ${{ matrix.hz_version }}
          HAZELCAST_ENTERPRISE_KEY: secrets[HAZELCAST_ENTERPRISE_KEY]
        shell: bash
        run: |
          echo "HERE: $(pwd)"
          ls
          chmod +x rcd-ubuntu-latest 
          ./rcd-ubuntu-latest -version $HZ_VERSION &
          sleep 10

      - name: Start Hazelcast Remote Controller (Windows)
        if: matrix.os == 'windows-latest'
        env:
          HZ_VERSION: ${{ matrix.hz_version }}
          HAZELCAST_ENTERPRISE_KEY: secrets[HAZELCAST_ENTERPRISE_KEY]
        shell: bash
        run: |
          echo "HERE: $(pwd)"
          ls
          rcd-windows-latest -version $HZ_VERSION &
          sleep 10

#      - name: Install dependencies
#        run: |
#          pip install -r requirements-test.txt
#


#      - name: Run tests
#        env:
#          HZ_SNAPSHOT_INTERNAL_USERNAME: ${{ secrets.HZ_SNAPSHOT_INTERNAL_USERNAME }}
#          HZ_SNAPSHOT_INTERNAL_PASSWORD: ${{ secrets.HZ_SNAPSHOT_INTERNAL_PASSWORD }}
#        run: python run_tests.py
#
#      - name: Publish results to Codecov for PR coming from hazelcast organization
#        if: ${{ matrix.python-version == needs.python-versions.outputs.latest-python-version && matrix.os == 'ubuntu-latest' &&  github.event_name == 'pull_request_target' }}
#        uses: codecov/codecov-action@v5
#        with:
#          token: ${{ secrets.CODECOV_TOKEN }}
#          files: ./coverage.xml
#          override_pr: ${{ github.event.pull_request.number }}
#          fail_ci_if_error: true
#
#      - name: Publish results to Codecov for Push
#        if: ${{ matrix.python-version == needs.python-versions.outputs.latest-python-version && matrix.os == 'ubuntu-latest' &&  github.event_name == 'push' }}
#        uses: codecov/codecov-action@v5
#        with:
#          token: ${{ secrets.CODECOV_TOKEN }}
#          files: ./coverage.xml
#          fail_ci_if_error: true
#
#      - name: Publish result to Codecov for PR coming from community
#        if: ${{ matrix.python-version == needs.python-versions.outputs.latest-python-version && matrix.os == 'ubuntu-latest' && github.event_name == 'workflow_dispatch' }}
#        uses: codecov/codecov-action@v5
#        with:
#          token: ${{ secrets.CODECOV_TOKEN }}
#          files: ./coverage.xml
#          override_pr: ${{ github.event.inputs.pr_number }}
#          fail_ci_if_error: true
#
#      - name: Upload remote controller logs if test run fails
#        uses: actions/upload-artifact@v4
#        if: failure()
#        with:
#          name: rc-logs-${{ matrix.python-version }}-${{ matrix.os }}
#          path: |
#            rc_stderr.log
#            rc_stdout.log
            
