name: Runs the tests nightly
on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'
jobs:
  run-tests:
    runs-on: ${{ matrix.os }}
    name: Run tests with Python ${{ matrix.python-version }} on ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [ '3.7', '3.8', '3.9', '3.10', '3.11', 'pypy-3.9']
        os: [ ubuntu-20.04, windows-latest ]
        exclude:
          - os: windows-latest
            python-version: pypy-3.9
      fail-fast: false
    steps:
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Checkout to code
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          pip install -r requirements-test.txt
      - name: Run tests
        env:
          HAZELCAST_ENTERPRISE_KEY: ${{ secrets.HAZELCAST_ENTERPRISE_KEY }}
        run: python run_tests.py
      - name: Upload remote controller logs on test failure
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: rc-logs-${{ matrix.python-version }}-${{ matrix.os }}
          path: |
            rc_stderr.log
            rc_stdout.log
